<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base path for the rewrite rules
    RewriteBase /Beauty&Care/

    # Allow direct access to the /api folder
    RewriteRule ^api/ - [L]
    
    # Allow direct access to the /admin folder
    RewriteRule ^admin/ - [L]

    # Allow direct access to existing files and directories (like assets)
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rewrite all other requests to the /public folder to be handled
    RewriteRule ^(.*)$ public/ [L]
</IfModule>